.footer-background {
    padding-top: 10px;
    background-color: #691831;
    color: white;
    font-size: 23px;


}

.scroll-to-top-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    width: 40px;
    height: 40px;
    background-color: #1F618D;
    color: #fff;
    border: none;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .scroll-to-top-btn:hover {
    background-color: #2471A3;
  }
  




.size {
    font-size: 25px;
}

.accent-color {
    background-size: cover;
    width: 100%;
}

.contener-img {
    display: flex;
}

.hero-image {
    margin-right: 15px;
    margin-left: 5px;
    height: 45px;
    width: 200px;
    margin-top: 12px;
    object-fit: fill
}

.product-image {
    margin-right: 10px;
    margin-left: 8px;
    height: 70px;
    width: 280px;
    object-fit: fill
}